.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

p {
    line-height: 1.8;
}

.form-control:focus {
    border-color: #fec00b;
    box-shadow: 0 0 0 0;
}

ul {
    list-style-type: none;
}

h2.heading {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
h2.heading.small span:after {
    width: 20%;
    left: 0;
}
h2.heading span {
    color: #fec00b;
    position: relative;
    font-size: 4.5rem;
}
h2.heading span:after {
    position: absolute;
    content: "";
    background-color: rgb(85, 85, 85);
    width: 90%;
    height: 2px;
    top: 108%;
    left: -40px;
}

h4 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #ffbc02;
    font-weight: 400;
    text-transform: uppercase;
}
h4 span {
    color: black;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #979da0;
    font-weight: 400;
}
p.headParagraph {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
p.red_p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #ffe601;
    font-weight: 400;
}

h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
h6 a {
    color: inherit;
}
h6 a:hover {
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.wrapper-container {
    position: relative;
}

.oswald16 {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.bgimg {
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
}

.detailsContainer span:first-of-type {
    position: relative;
    float: left;
    width: 58.3333333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.detailsContainer span:last-of-type {
    position: relative;
    float: left;
    width: 41.6666666667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}
.detailsContainer span:last-of-type i {
    margin-right: 10px;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.cartContainer span {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.cartContainer span:first-of-type {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.footerheading {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}
.footerheading span {
    color: #fec00b;
}
.footerheading:after {
    position: absolute;
    content: "";
    bottom: -10px;
    height: 2px;
    left: 0;
    width: 25%;
    background: #fec00b;
}

.uppercaseheading {
    text-transform: uppercase;
}

.bigsocial-link {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    color: white;
}
.bigsocial-link i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.bigsocial-link:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    border: 2px dashed #fff;
    z-index: -1;
}

@-webkit-keyframes moveRound {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .bigsocial-link:hover {
        color: white;
        border: 0px;
    }
    .bigsocial-link:hover:after {
        -webkit-animation: moveRound 9s linear infinite;
        animation: moveRound 9s linear infinite;
        z-index: 2;
    }
}

/*-------------- headline banner ---------------*/
.bannerHeadline {
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
.bannerHeadline span {
    color: #fec00b;
}

.btn {
    padding: 15px 20px;
    border: 1px solid grey;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #625959;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4;
    transition: 0.4s ease-in-out;
}

.btn-red {
    background: #fec00b;
    color: white;
    border: 1px solid #fec00b;
    transition: all 0.3s ease-in-out;
    transition-property: background, color;
}
.btn-red:hover,
.btn-red:focus {
    color: #fec00b;
    background: white;
}

@media (min-width: 480px) {
    .btn {
        padding: 15px 80px;
    }
}

/*-------------- desktop --------------*/
@media (min-width: 992px) {
    .latestvideo {
        padding: 70px 0;
    }
    .video-container {
        height: 500px;
    }
    .video-content {
        padding: 0;
    }
    .video-show {
        padding: 0;
    }
    ul.videoLive {
        height: 500px;
    }
    ul.videoLive li {
        display: block;
        width: 100% !important;
    }
    ul.videoLive li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        transition: all 0.4s ease-in-out;
    }
    ul.videoLive li a:hover {
        background: #232a32;
    }
    .btn-down {
        bottom: 25px;
    }
    .btn-down:after {
        font-family: FontAwesome;
        position: absolute;
        content: "\f078";
    }
    .btn-up {
        top: 10px;
        z-index: 9;
    }
    .btn-up:after {
        font-family: FontAwesome;
        position: absolute;
        content: "\f077";
    }
}

.innerbanner {
    height: 600px;
    position: relative;
    overflow: hidden;
    background: url(../img/innerpageBg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.innerbannerwrap {
    position: relative;
}
.innerbannerwrap .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.innerbannerwrap h2 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 2;
}

/*---------- contact form ------------*/
.contact-form {
    margin: 20px 0;
}
.contact-form h6 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #fec00b;
    font-weight: 400;
    text-transform: uppercase;
    margin: 15px 0;
}
.contact-form .form-group {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .contact-form .form-group {
        float: left;
        width: 50%;
    }
}
.contact-form .form-group .text {
    height: 50px;
    border-radius: 0px;
}
.contact-form .form-group,
.contact-form .form-group1 {
    margin-bottom: 20px;
    padding: 0;
}
.contact-form .form-group::-webkit-input-placeholder,
.contact-form .form-group1::-webkit-input-placeholder {
    color: white;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.contact-form .form-group1 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
}
.contact-form .texta {
    height: 150px;
    border-radius: 0px;
    transition: all 0.5s ease;
}
.contact-form .form-control:focus {
    border: 1px solid #fec00b;
    box-shadow: 0 0 0 0;
}
.contact-form button.submit {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    outline: none;
    border: 0;
    background: #fec00b;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
}

/* ----------------- contact ---------------- */

.contact_icon {
    text-align: center;
    padding: 30px 0;
}
.contact_icon li {
    width: 100%;
    float: left;
    padding: 10px 20px;
}
.contact_icon li i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #fec00b;
    border-radius: 50%;
    color: #fec00b;
    padding: 14px 0;
    float: left;
}
.contact_icon li span {
    float: left;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #979da0;
    font-weight: 400;
}

.map_wrapper {
    padding: 300px 0 0 0;
    width: 100%;
    position: relative;
    background: #e8deea;
}
.map_wrapper h2 {
    color: rgba(255, 255, 255, 0.6);
}

.contact_form {
    position: relative;
    padding: 100px 0;
    background: rgba(0, 0, 0, 0.75);
}

#map-section {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.formcontact {
    padding: 30px 90px;
}
.formcontact .form-group {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
.formcontact .form-group input {
    height: 60px;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #979da0;
    font-weight: 700;
}
.formcontact .form-group1 {
    margin-bottom: 40px;
    float: left;
    width: 100%;
}
.formcontact .form-group1 textarea {
    height: 150px;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #979da0;
    font-weight: 700;
}
.formcontact button {
    float: right;
}

.parsley-required {
    width: 50%;
    padding: 5px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #fec00b;
    font-weight: 700;
    text-transform: capitalize;
}

.parsley-errors-list {
    color: #fec00b;
}

@media screen and (min-width: 480px) {
    .contact_icon li {
        width: 32%;
    }
    .contact_icon li i,
    .contact_icon li span {
        float: none;
    }
    .contact_icon li span {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .contact_icon li {
        width: 25%;
        display: inline-block;
        float: none;
    }
    .formcontact .form-group {
        width: 50%;
    }
    .formcontact .form-group:nth-of-type(odd) {
        padding-right: 10px;
    }
    .formcontact .form-group:nth-of-type(even) {
        padding-left: 10px;
    }
}
